
body {
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o preenchimento padrão */
  display: flex; 
  justify-content: center; 
  /* gap: 50px; */
  align-items: center; 
  min-height: 100vh; 
   /* background: linear-gradient(to bottom, #181818, #393939, rgb(90, 82, 82)); */
  background: linear-gradient(rgba(85, 85, 85, 0.467) 5%, #2f2f2f  95%), url('assets/images/fundo-login.jpeg');
}

.main {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(500px); 
  width: 25vw;
  height: 520px; 
  background: rgba(53, 89, 85, 0.477); 
  align-items: center;
  justify-content: center;
  border-radius: 10px; 
  box-shadow: 5px 30px 60px #000; /* Sombra da caixa*/
}



h1 {
  text-align: center;
  color: #fff; 
  font-size: 3.3em; 
  justify-content: center; 
  font-weight: bold; 
  cursor: pointer; /* Mostra o cursor ao passar por cima */

}


input {
  width: 80%; 
  height: 30px; 
  background: #e0dede; 
  justify-content: center; 
  display: flex; 
  margin: 20px auto; 
  padding: 15px; 
  border: none; /* Remove a borda */
  outline: none; /* Remove a borda do foco */
  border-radius: 10px; 
}

button {
  width: 60%; 
  height: 40px; 
  margin: 10px auto; 
  justify-content: center;
  display: block; 
  color: #fff; 
  background: #243C39; 
  font-size: 1.5em; 
  font-weight: bold; 
  margin-top: 20px; 
  outline: none; 
  border: none; 
  border-radius: 5px; 
  transition: .2s ease-in; 
  cursor: pointer; /* Mostra o cursor ao passar por cima */
}

/* Efeito de hover para botões */
button:hover {
  background: #37534f; /* Cor de fundo alterada no hover */
}

