/* Configurações gerais para o corpo da página */
body {
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o preenchimento padrão */
  display: flex; /* Usa o modelo de layout flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Garante que a altura mínima seja 100% da altura da tela */
  background: linear-gradient(to bottom, #181818, #393939, rgb(90, 82, 82)); /* Cria um fundo gradiente */
}

/* Estilos para a div principal que envolve todo o conteúdo */
.main {
  width: 350px; /* Largura da div principal */
  height: 500px; /* Altura da div principal */
  background: #243C39; /* Cor de fundo da div principal */
  overflow: hidden; /* Oculta o conteúdo que transborda */
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 5px 20px 50px #000; /* Sombra da caixa */
}

/* Esconde a caixa de seleção (checkbox) */
#chk {
  display: none; /* Oculta a caixa de seleção */
}

/* Estilos para a área de cadastro */
.signup {
  position: relative; /* Posicionamento relativo para rótulos absolutos */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
}

/* Estilos para rótulos (labels) */
label {
  color: #fff; /* Cor do texto branco */
  font-size: 2.3em; /* Tamanho da fonte */
  justify-content: center; /* Centraliza horizontalmente */
  display: flex; /* Usa o modelo de layout flexível */
  margin: 60px; /* Margem externa */
  font-weight: bold; /* Texto em negrito */
  cursor: pointer; /* Mostra o cursor ao passar por cima */
  transition: .5s ease-in-out; /* Efeito de transição suave */
}

/* Estilos para campos de entrada */
input {
  width: 60%; /* Largura do campo de entrada */
  height: 20px; /* Altura do campo de entrada */
  background: #e0dede; /* Cor de fundo do campo de entrada */
  justify-content: center; /* Centraliza horizontalmente */
  display: flex; /* Usa o modelo de layout flexível */
  margin: 20px auto; /* Margem interna superior e inferior, centraliza verticalmente */
  padding: 10px; /* Preenchimento interno */
  border: none; /* Remove a borda */
  outline: none; /* Remove a borda do foco */
  border-radius: 5px; /* Borda arredondada */
}

/* Estilos para botões */
button {
  width: 60%; /* Largura do botão */
  height: 40px; /* Altura do botão */
  margin: 10px auto; /* Margem interna superior e inferior, centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  display: block; /* Exibe como bloco */
  color: #fff; /* Cor do texto branco */
  background: #243C39; /* Cor de fundo do botão */
  font-size: 1em; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  margin-top: 20px; /* Margem superior */
  outline: none; /* Remove a borda do foco */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Borda arredondada */
  transition: .2s ease-in; /* Efeito de transição suave */
  cursor: pointer; /* Mostra o cursor ao passar por cima */
}

/* Efeito de hover para botões */
button:hover {
  background: #37534f; /* Cor de fundo alterada no hover */
}

/* Estilos para a área de login */
.login {
  height: 460px; /* Altura da área de login */
  background: #eee; /* Cor de fundo da área de login */
  border-radius: 60% / 10%; /* Borda arredondada */
  transform: translateY(-180px); /* Translação vertical para esconder a área de login */
  transition: .8s ease-in-out; /* Efeito de transição suave */
}

/* Estilos para rótulos (labels) na área de login */
.login label {
  color: #243C39; /* Cor do texto na área de login */
  transform: scale(.6); /* Reduz o tamanho do rótulo */
}

/* Transição para esconder a área de login quando a caixa de seleção está marcada */
#chk:checked ~ .login {
  transform: translateY(-500px); /* Translação vertical para esconder a área de login quando a caixa de seleção está marcada */
}
